<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Form </title>
    <!-- <link rel="stylesheet" href="styleforregister.css"> -->
  </head>
  <body>

    <div class="login-box">
      <img src="" class="avatar" alt="Avatar Image">
      <h1>Register Here</h1>

      <form action="" method="post">
       {% csrf_token %}
        <label for="username">UserName</label>
        {{form.username}}<br>
        <label for="first_name">First Name</label>
        {{form.first_name}}
        <br>

        <label for="last_name">Last Name</label>
        {{form.last_name}}
        <br>
        <label for="sid">Student ID</label>
        <input type="text" id="sid" name="sid" placeholder="Enter your ward id ">
          <br>
        <label for="email">Email</label>
        {{form.email}} <br>
        <label for="password">Password</label>
        {{form.password1}}<br>
        <label for="password">Confirm Password</label>
        {{form.password2}}  
        <br>

        <label for="mobile_no.">Contact No.</label>
        <input type="number" id="num" name="num" placeholder="Enter your mobile number">
          <br>
       
        <input type="submit" value="Register">
        
        
      </form>
      {{form.errors}}
      <button type="submit" postion="bottom"><a href="{% url 'home' %}">Back</a></button>
    </div>
  </body>
</html>
